{% extends 'blog/base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1>Please Login:</h1>
        <h3>(Must be superuser! Please check with admin!)</h3>

        {% if form.errors %}
            <p>Username & Password didn't match!</p>
        {% endif %}

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Login">
            <input type="hidden" name="next" value="{{next}}">

        </form>

    </div>


{% endblock %}